<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- MathJax 配置：国内 CDN + 自动回退 -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']],
      packages: ['base', 'ams', 'mathtools', 'unicode'],
      macros: {
        abs: ['\\lvert #1 \\rvert', 1],
        norm: ['\\lVert #1 \\rVert', 1],
        emptyset: '\\varnothing',
        dd: ['\\mathrm{d}#1', 1],
        R: '\\mathbb{R}',
        N: '\\mathbb{N}',
        Z: '\\mathbb{Z}',
        Q: '\\mathbb{Q}',
        C: '\\mathbb{C}'
      }
    },
    options: {
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    loader: {
      load: ['[tex]/mathtools', '[tex]/unicode']
    }
  };
</script>

<!-- 主 CDN（BootCDN，国内快） -->
<script id="MathJax-script" async
  src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/tex-chtml.js"
  onerror="this.onerror=null; this.src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js';">
</script>

 <script <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

  
<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
